<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Compresso-main</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <div class="container">

        <!-- Heading -->
        <div class="row">
            <div class="col-md-4 offset-md-8">
                <h1 style="color: crimson;">Compresso</h1>
            </div>
            <div class="col-md-12">
                <hr>
            </div>
        </div>

        <div class="row">

            <div class="offset-md-3 col-md-5">
                <div class="alert alert-success">
                    Welcome to Compresso
                </div>
                <a class="btn btn-info" href="/users/blog">Go to Blog</a>
            </div>

        </div>

    </div>
    
</body>
</html>